body {
  margin: 0;
  padding: 20px;
  text-align: center;
  font: 18px/24px Helvetica, Arial, sans-serif;
  color: #333;
}

@media (min-width: 768px) {
  body {
    padding: 150px;
  }
}

article {
  display: block;
  text-align: left;
  max-width: 640px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin-left: -0.05em;
}

ul {
  color: rgb(50, 142, 165);
}

a {
  color: rgb(79, 187, 214);
  text-decoration: none;
}

a:hover {
  color: rgb(94, 167, 177);
  text-decoration: none;
}
