.content {
	margin: 36px auto;
	padding: 0 10px;
	max-width: 1140px;
	box-sizing: border-box;
}

@media (min-width: 769px) {
	.content {
		padding-left: 368px;
		margin-top: 48px;
		margin-bottom: 48px;
	}
}
