<div id="remark42"></div>
<script>
	var isDark

	if (typeof window.matchMedia === 'function') {
		debugger
		var mq = window.matchMedia('(prefers-color-scheme: dark)')
		isDark = mq.matches

		mq.addListener(() => {
			window.REMARK42.changeTheme(mq.matches ? 'dark' : 'light');
		})
	}

	var remark_config = {
		host: 'https://demo.remark42.com',
		site_id: 'remark',
		components: ['embed'],
		url: 'https://remark42.com{{ .RelPermalink }}',
		max_shown_comments: 20,
		theme: isDark ? 'dark' : 'light',
	}



	;(function(c) {
		for (var i = 0; i < c.length; i++) {
			var d = document,
				s = d.createElement('script')
			s.src = remark_config.host + '/web/' + c[i] + '.js'
			s.defer = true
			;(d.head || d.body).appendChild(s)
		}
	})(remark_config.components || ['embed'])
</script>
