<div id="remark42"></div>
<script>
	var isDark

	if (typeof window.matchMedia === 'function') {
		var mq = window.matchMedia('(prefers-color-scheme: dark)')
		isDark = mq.matches

		mq.addListener(() => {
			window.REMARK42.changeTheme(mq.matches ? 'dark' : 'light');
		})
	}

	var remark_config = {
		host: 'https://demo.remark42.com',
		site_id: 'remark',
		components: ['embed'],
		url: 'https://remark42.com{{ .RelPermalink }}',
		max_shown_comments: 20,
		theme: isDark ? 'dark' : 'light',
	}
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
