{{ $styles := .Site.Data.classnames }}
{{ $dirVersion := .File.Dir }}
{{ $dirVersion = split $dirVersion "/" }}
{{ $dirVersion = index $dirVersion 1 }}
{{ $current := . }}
<aside class="{{ $styles.sidebar }}">
	<button class="{{ $styles.sidebarOpener }}">
		Menu
		<div class="{{ $styles.sidebarOpenerToggle }}">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</button>
	{{ range .FirstSection.Pages }}
		{{ $pageVersion := split .Page.RelPermalink "/" }}
		{{ $pageVersion = index $pageVersion 2 }}
		{{ if eq $pageVersion $dirVersion }}
			{{ template "menu-level" (dict "Pages" .Pages "Site" .Site "current" $current) }}
		{{ end }}
	{{ end }}
</aside>
<script>(function() {
	const openenedSidebarClassname = '{{ $styles.sidebarOpened }}'
	const openedToggleClassname = '{{ $styles.sidebarOpenerToggleOpened }}'
	const sidebarElement = document.querySelector('.{{ $styles.sidebar }}')
	const toggleElement = document.querySelector('.{{ $styles.sidebarOpener }}')
	const burgerElement = document.querySelector('.{{ $styles.sidebarOpenerToggle }}')
	let opened = false

	toggleElement.addEventListener('click', function() {
		opened = !opened
		const method = opened ? 'add' : 'remove'

		burgerElement.classList[method](openedToggleClassname)
		sidebarElement.classList[method](openenedSidebarClassname)
	})
})()</script>

{{ define "menu-level" }}
	{{ $current := .current }}
	{{ $styles := .Site.Data.classnames }}
	<ul class="{{ $styles.sidebarMenu }}">
		{{ range .Pages }}
			{{ if .IsPage }}
				<li class="{{ $styles.sidebarMenuItem }}"><a href="{{ .RelPermalink }}" class="{{ $styles.sidebarMenuLink }}{{ if eq $current . }} {{ $styles.sidebarMenuLinkActive }}{{ end }}">{{ .LinkTitle }}</a></li>
			{{ else }}
				<li class="{{ $styles.sidebarMenuItem }}">
					<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
					{{ template "menu-level" (dict "Pages" .Pages "Version" $.Version "Site" .Site)}}
				</li>
			{{ end }}
		{{ end }}
	</ul>
{{ end }}

