{{ $styles := .Site.Data.classnames }}
{{ $currentSiteVersion := .Site.Params.docs.current }}
{{ $pageVersion := split .Page.RelPermalink "/" }}
{{ $pageVersion = index $pageVersion 2 }}
{{ $pageVersion = index .Site.Params.docs.versions $pageVersion }}

<select class="{{ $styles.versionsSelect }}">
	{{ range $key, $value := .Site.Params.docs.versions }}
		{{ $active := eq $pageVersion $value }}
		<option{{ if $active }} selected{{ end }} value="{{ $key }}">Version {{ $value }}</option>
	{{ end }}
</select>
<script>
	document.querySelector('.{{ $styles.versionsSelect }}').addEventListener('change', function(){
		const arrpath = window.location.pathname.split('/')
		arrpath[2] = this.value
		window.location.href = window.location.origin + '/' + arrpath.join('/') + '/'
	})
</script>
